body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: blue;
    color: white;
    padding: 15px 20px;
    width: 100%;
}

.logo {
    font-size: 24px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
}

*{
    box-sizing: border-box;
}

.box {
    text-align: center;
    background-color: beige;
    border: 1px solid black;
    margin: 20px;
    height: 325px;
    width:500px;
    padding: 40px 20px;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px;
}
